.accordion {
    margin: 10px;
}

.accordion-header {
    text-align: 'center';
    background-color: rgb(235, 198, 66);
}

#accordion-list {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #DBC268; */
}

.accordion-section {
    background-color: aquamarine;
}

.accordion-section h1 {
    text-align: center;
}

.accordion-li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px 60px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.7s;
}

.accordion-li:hover {
    background-color: aquamarine;
}

/* making the multiorder form look attractive and responsive */

.multiorder-form {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    /* background-image: url('../images/food-form.jpg'); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    /* background-blend-mode: overlay; */
    /* background-color: rgba(249, 249, 223, 0.486); */
}