.autocomplete-container {
    padding: 20px;
}

.autocomplete-table {
    width: 100%;
}

.autocomplete-row {
    border: 1px solid black;
    cursor: pointer;
}

.autocomplete-name-cell {
    padding: 20px;
}
