.menu-cart--item-card {
    padding: 60px 10px 0px 10px;
    margin-top: -20px;
}

.item-card-search-input {
    padding: 5px;
    font-size: 1rem;
    background-color: transparent;
    margin: 10px;
}

.item-card-search-btn {
    padding: 12px;
}

.item-card-result-name {
    text-align: left;
}
