.menu-alert-link {
    font-weight: 700;
}

.menu-no-items-img {
    width: 50%;
    max-width: 320px;
}

.menu-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-checkmark {
    color: #000;
    font-size: 0.73rem;
    font-weight: 900;
    line-height: 1;
}
