.nav-bar-list {
    list-style-image: none;
    margin: 0px;
    padding: 0px;
}

.nav-bar-close-btn {
    margin-left: 160px;
    background: #04045f;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.nav-bar-link {
    text-decoration: none;
}

.nav-bar-icon {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
