.user-details-modal-trigger-btn {
    background-color: #dbc268;
    color: black;
    font-size: 1rem;
}

.user-details-modal-title {
    background-color: #ebc642;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details-modal-content {
    background-color: #fff5d2;
    padding: 0px;
}
